body {
    font-family: 'EB Garamond', serif !important;
}
nav img {
    width: 18px;
}
.lets-start img {
    width: 750px;
}
#stories img {
    width: 650px;
}
.texts {
    max-width: 650px;
}
.texts button {
    font-size: 13px;
}
@media screen and (max-width:750px) {
    .lets-start {
        padding-top: 15px;
    }
    .row .border-bottom {
        border:0 !important;
    }
    .texts {
        margin-top: 15px;
    }
    .texts button {
        width: 100%;
    }
    nav {
        text-align: center;
    }
    nav .social {
        display: flex;
        justify-content: center;
    }
    .row img {
        width: 750px;
    }
    .imag {
        text-align: center !important;
    }
}