body {
    font-family: 'EB Garamond', serif !important;
}
nav img {
    width: 18px;
}
.lets-start img {
    width: 750px;
}
#stories img {
    width: 650px;
}
.texts {
    max-width: 650px;
}
.texts button {
    font-size: 13px;
}
@media screen and (max-width:1000px) {
    .lets-start {
        padding-top: 15px;
    }
    .texts {
        margin-top: 15px;
    }
    .texts button {
        width: 100%;
    }
    nav {
        text-align: center;
    }
    nav .social {
        display: flex;
        justify-content: center;
    }
    .row img {
        width: 750px;
    }
    .imag {
        text-align: center !important;
    }
    .hide {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .row .border-bottom {
        border:0 !important;
    }

}

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
    max-width: 1920px;
  }
  #portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
    position: relative;
    display: block;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.425);
    transition: opacity 0.25s ease;
    text-align: center;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
  }
  #portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
  }
  .lefts {
    position: absolute;
    top: 200px;
    padding: 10px;
    color: white;
    z-index: 999;
    font-size: 50px;
    opacity: 0;
  }
  .rights {
    position: absolute;
    top: 200px;
    right: 0px;
    padding: 10px;
    color: white;
    z-index: 999;
    font-size: 50px;
    opacity: 0;
}
  #portfolio:hover i {
      opacity: 1;
      transition: .5s;
      cursor: pointer;
  }
  .controlls {
      position: relative;
  }